*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    transition: .2s linear;
    outline: none;border: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}


li, a , button{
    
    font-weight: 500;
    font-size: 14px;
    color:black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
    
    
}
.logo{
    font-size: 30px;
    cursor: pointer;
    color: orange;
}
.nav-links{
    list-style: none;
}
.nav-links > li{
    display: inline-block;
    padding: 0px 20px;

}
.nav-links > li >a{
    transition: all 0.3sec ease 0sec;
}
.nav-links > li >a:hover{
    color: lightblue;
}
button{
    padding: 9px 25px;
    background-color:orange;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3sec ease 0sec;
}
button:hover{
    background-color: lightyellow;
}
.menu-items{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    
    cursor: pointer;
    transition: .2s ease;

}
img:hover{
    transform: scale(1.04);
}
.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 h1{
    text-align: center;

}
.items button{
    padding: 5px 30px;
    font-size: 14px;
    margin-bottom: 10px;

}
.new{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.new{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.new-flavours button{
    padding: 5px 30px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 15px;
    
    

}
@media screen and (max-width:676px){
    .new{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:592px){
    .new{
        grid-template-columns: repeat(1,1fr);
    }
}















































@media (max-width:991px) {
    html{
        font-size: 55%;

        
    
    }  
}
@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    } 
    header .logo.nav-links.btn{
        position: absolute;
        top: 99%;left: 0;right: 0;
        background-color: white;
        border-top: var(border);
        border-bottom: var(border);
    } 
}
@media (max-width:450px) {
    html{
        font-size: 50%;
        
        
    
    }  
}